# Dependency directory

# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git

node_modules
.DS_Store
dist

# node-waf configuration

.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)

build/Release
.dockerignore
Dockerfile
_docker-compose_

# Logs

logs
\*.log

# Runtime data

.idea
.vscode
_.suo
_.ntvs\*
_.njsproj
_.sln
_.sw_
pids
_.pid
_.seed
.git
.hg
.svn
